<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ResumeParser/ResumeTransducer/src/code4goal/antony/resumeparser/ResumeParserProgram.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="code4goal.antony.resumeparser.ResumeParserProgram"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="input+file=&quot;./UnitTests/KanchanaResume.docs&quot;&#13;&#10;output+file=&quot;parsed_resume.json&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ResumeParser"/>
</launchConfiguration>
